In [ ]:
#from werkzeug.security import generate_password_hash
#print(generate_password_hash("test"))

In [1]:
import sqlite3
import pandas as pd

In [2]:
db_file = "database.db"

In [3]:
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

In [4]:
munro_df = pd.read_csv("munros_table.csv").astype(str)

In [5]:
#add munros table
table_name = "munros"

munro_df = pd.read_csv("munros_table.csv")

columns = ", ".join([f'"{col}" TEXT' for col in munro_df.columns])
cursor.execute(f'CREATE TABLE IF NOT EXISTS {table_name} ({columns});')

munro_df.to_sql(table_name, conn, if_exists="replace", index=False)

conn.commit()

In [6]:
#add users table
table_name = "users"

user_names = ["matthew",
             "amy",
             "scott",
             "emily",
            ]

user_ids = [f"u{i:03}" for i in range(len(user_names))]

passwords = 123

user_df = pd.DataFrame({"user_id": user_ids,
                   "user_name": user_names,
                   "password": passwords,
                  })

columns = ", ".join([f'"{col}" TEXT' for col in user_df.columns])
cursor.execute(f"CREATE TABLE IF NOT EXISTS {table_name} ({columns});")

user_df.to_sql(table_name, conn, if_exists="replace", index=False)

conn.commit()

In [7]:
#create junction table
#add junction bag table
create_junction_table = """
                        CREATE TABLE bags (
                        user_id INTEGER NOT NULL,
                        munro_id INTEGER NOT NULL,
                        date TEXT NOT NULL,
                        distance TEXT,
                        friends TEXT,
                        notes TEXT,
                        FOREIGN KEY (user_id) REFERENCES users(user_id),
                        FOREIGN KEY (munro_id) REFERENCES munros(munro_id)
                        );
                        """

cursor.execute("DROP TABLE IF EXISTS bags;")
cursor.execute(create_junction_table)
conn.commit()

In [8]:
amy_df = pd.read_csv("C:/Users/mrallison/Downloads/munros - amy_bags.csv")
amy_df = amy_df.fillna("").astype(str)

In [12]:
amy_df.to_sql('bags', conn, if_exists='append', index=False)

35

In [ ]:
#add new user to users
add_user = """INSERT INTO users (user_name, password)
            VALUES 
                ("pete", "pass")
            """

In [22]:
#add new user to users
#add_user = """INSERT INTO users (user_name, password)
#            VALUES 
#                ("u00x", "pete", "pass")
#            """

#add new bag to junction bags
#add_bag = """INSERT INTO bags (user_id, munro_id, date, distance, friends, notes)
#            VALUES 
#                ('u000', 'm000', '2025-08-26', '13km', 'Scott', 'Reached summit in 3 hours'),
#                (, , , , ,)
#            """

#cursor.execute(add_bag)
#conn.commit()

In [ ]:
conn.close()