In [8]:
import sys
import os
import sqlite3
import pandas as pd

db_file = "database.db"

sys.path.append(os.path.abspath("routes"))

from munro_data import *

In [9]:
conn = sqlite3.connect(db_file)
cursor = conn.cursor()

In [19]:
munro_df = pd.read_sql_query("SELECT * FROM munros", conn)
munro_df.head()

,munro_id,name,region,county,height,latitude,longitude
0,m000,Ben Nevis [Beinn Nibheis],04A: Fort William to Loch Treig & Loch Leven,Highland,1344m,56.796891,-5.003675
1,m001,Ben Macdui [Beinn Macduibh],08A: Cairngorms,Aberdeenshire/Moray,1309m,57.070368,-3.669099
2,m002,Braeriach,08A: Cairngorms,Aberdeenshire/Highland,1296m,57.078298,-3.728373
3,m003,Cairn Toul,08A: Cairngorms,Aberdeenshire,1291m,57.054406,-3.710757
4,m004,Sgor an Lochain Uaine,08A: Cairngorms,Aberdeenshire,1258m,57.058376,-3.725897

In [20]:
user_df = pd.read_sql_query("SELECT * FROM users", conn)
user_df.head()

  user_id user_name  password
0    u000   matthew       123
1    u001       amy       123
2    u002     scott       123
3    u003     emily       123

In [16]:
#get data from bags table
data, bags = get_user_complete_log("amy")
print(bags)
data[0]

35

{'name': 'Ben Nevis [Beinn Nibheis]',
 'region': '04A: Fort William to Loch Treig & Loch Leven',
 'county': 'Highland',
 'height': '1344m',
 'latitude': 56.796891,
 'longitude': -5.003675,
 'date': None,
 'distance': None,
 'friends': None,
 'notes': None}

In [11]:
data[0]

{'name': 'Ben Nevis [Beinn Nibheis]',
 'region': '04A: Fort William to Loch Treig & Loch Leven',
 'county': 'Highland',
 'height': '1344m',
 'latitude': 56.796891,
 'longitude': -5.003675,
 'date': None,
 'distance': None,
 'friends': None,
 'notes': None}